[credential "https://github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
[user]
	name = l1mey112
	email = l-m@l-m.dev
[core]
	editor = hx
[init]
	defaultBranch = master
